# Data Types and Operators

<ul>
    <li><b>Data Types:</b> Integers, Floats, Booleans, Strings, Lists, Tuples, Sets, Dictionaries</li>
    <li><b>Operators:</b> Arithmetic, Assignment, Comparison, Logical, Membership, Identity</li>
    <li>Built-In Functions, Compound Data Structures, Type Conversion</li>
    <li>Whitespace and Style Guidelines</li>
</ul>

### 1. Print() function

To print as an output

In [1]:
5*3

15

In [2]:
8962551/67

133769.41791044775

In [4]:
877994229%10

9

In [13]:
my = 5**3 #Variable declaration
print("I got " +str(my)+ " peaches out in Georgia...") #Type and Type conversion later...

I got 125 peaches out in Geogia...

### 2. Variables

Used to store information in any form like number, string, data type, etc to be referenced or manipulated anytime in the program.

In [15]:
year = 2021
print(year)

2021

In [21]:
a = 10
b = 20
print(b-a)

10

### 3. Multiple Assignment Operator

In [22]:
b -= a #Shorthand to calculate b = b-a
a += b #Shorthand to calculate a = a+b
print("a=",a, "b=",b)

a= 20 b= 10

In [26]:
#Calculating perimeter of a circle with radius = 7 cm
import math #importing math library to access mathematical functions
r = 7
perimeter = 2* math.pi * r #calling the value of pi from the math library
print(perimeter)

43.982297150257104

### 4. Variable Naming Convention

There are some rules we need to follow while giving a name for a Python variable.
<ul>
    <li><b>Rule-1:</b> You should start variable name with an alphabet or underscore(_) character.</li>
    <li><b>Rule-2:</b> A variable name can only contain A-Z,a-z,0-9 and underscore(_).</li>
    <li><b>Rule-3:</b> You cannot start the variable name with a number.</li>
    <li><b>Rule-4:</b> You cannot use special characters with the variable name such as such as $,%,#,&,@.-,^ etc.</li>
    <li><b>Rule-5:</b> Variable names are case sensitive. For example str and Str are two different variables.</li>
    <li><b>Rule-6:</b> Do not use reserve keyword as a variable name for example keywords like class, for, def, del, is, else, try, from, etc. more examples are given below and as we go through the course we will come across many more. Creating names that are descriptive of the values often will help you avoid using any of these words.</li>

</ul>

In [27]:
#Allowed variable names

n=2
m="Hello"
firstday="Monday"
second_day="Tuesday"
_third_day="Wednesday"
_fourthday="Thursday"
FIFTHDAY="Friday"
sixthDay="Saturday"
seventh7day7="Sunday"

In [28]:
#Variable name not Allowed

1day="Monday"
-day2="Tuesday"
third@day="Wednesday"
fourth day="Thursday"
if="Friday"

#It shows invalid syntax. 
#It will execute one by one and will show the error.

SyntaxError: invalid syntax (<ipython-input-28-b2db4a4a0363>, line 3)

### 5. Integers and Floats

Integers are whole numbers and float is short for floating point number

In [29]:
print(5/2)

2.5

In [41]:
num_1 = 4
num_2 = 5.9
print(num_1)
print(num_2)

4
5.9

In [31]:
print(type(num_1))

<class 'int'>

In [32]:
print(type(num_2))

<class 'float'>

In [40]:
num_1 = float(5)
num_2 = int(5.238)
print(num_1)
print(num_2)

5.0
5

In [48]:
print(1 + 1 + 1 + 1 + 1 + 1 + 1 + 1 + 1 + 1 == 10.86)

False

### 6. Boolean DataType, Comparision and Logical Operators
Boolean can have a value of either True or False

In [49]:
Arijit_Singh = True
Neha_Kakkar = False

In [51]:
a = 5>100
print(a)

False

In [61]:
clouds = 100
rain = clouds > 50 and clouds < 400
print(rain)

True

### 7. Strings

In [62]:
print("Under my umbrella...")

Under my umbrella...

In [63]:
print("She said "I'll be here forever"")

SyntaxError: invalid syntax (<ipython-input-63-12b2e520e284>, line 1)

In [66]:
print('She said,"I'll be here forever..."')

SyntaxError: invalid syntax (<ipython-input-66-caf9a29bba12>, line 1)

In [67]:
print('She said,"I\'ll be here forever..."')

She said,"I'll be here forever..."

In [71]:
print("Under my umbrella...")
n = "ella "
print(n*3)

Under my umbrella...
ella ella ella

In [74]:
print("Length of the word 'Umbrella': ", 
      len("Umbrella"))

Length of the word 'Umbrella':  8

### 8. Type Conversion

In [84]:
my = 6^3 #XOR operator
print(type(my))
print("I got " +str(my)+ " peaches out in Georgia...")

<class 'int'>
I got 5 peaches out in Georgia...

In [86]:
mon_sales = "121"
tues_sales = "105"
wed_sales = "110"
thurs_sales = "98"
fri_sales = "95"

#TODO: Print a string with this format: This week's total sales: xxx
# You will probably need to write some lines of code before the print statement.
print("This week\'s total sales: " )

This week's total sales:

### 9. One important string method: format()

In [87]:
# Example 1
print("Mohammed has {} balloons".format(27))

EG:1
Mohammed has 27 balloons

In [88]:
# Example 2
animal = "dog"
action = "bite"
print("Does your {} {}?".format(animal, action))

EG:2
Does your dog bite?

In [89]:
# Example 3
maria_string = "Maria loves {} and {}"
print(maria_string.format("math","statistics"))

Maria loves math and statistics

### 10. Lists and Membership Operators:

In [90]:
fruits = ['mango', 'cherry', 'watermelon', 'strawberry']

In [92]:
fruits[0]

'mango'

In [93]:
fruits[-1]

'strawberry'

### 11. Membership Operators:[Lists]

In [116]:
fruit = "kiwi"

In [97]:
# Slice a particular range
print(fruits[2:4])
print(fruit[2:4])

['watermelon', 'strawberry']
wi

In [99]:
#Print the length of list and string
print(len(fruits))
print(len(fruit))

4
4

In [104]:
Ariana = "I'm no one to stick around, One strike and you're out baby... Don't care if I sound crazy, But you never let me down... Stuck with you... "
print('one' in Ariana, 'plans' not in Ariana)

True True

In [106]:
print('banana' in fruits, 'cherry' in fruits)

False True

In [108]:
fruit[2] = "t"

TypeError: 'str' object does not support item assignment

In [109]:
student = "Barry"
student[1] = "e"
print(student)

TypeError: 'str' object does not support item assignment

In [112]:
fruits[2] = "grapes"
fruits

['mango', 'cherry', 'grapes', 'strawberry']

There are some useful functions for lists that you should get familier with.

<li><b>len():</b> returns how many elements does the list has.
<li><b>max():</b> returns the greatest element of a list.
<Li><b>min():</b> returns the smallest element of a list.
<li><b>sorted():</b> returns a copy of the list, in order from smallest to the largest. leaving the orignal list unchanged

In [117]:


print(max(fruits))
print(max(fruit))

strawberry
w

In [119]:

students = ['sam', 'pam', 'rocky', 'austin', 'steve', 'banner', 'tony', 'bruce', 'henry', 'clark', 'diana']

student = "barry"

print(max(students))
print(max(student))

tony
y

In [126]:
sep_str = "\n".join(["Jack", "O", "Lantern"])
print(sep_str)

Jack
O
Lantern

In [123]:
letters = ['a', 'b', 'c', 'd']
letters.append('e')
print(letters)

['a', 'b', 'c', 'd', 'e']

### 12. Tuples
A tuple is another useful container. It's a data type for immutable ordered sequences of elements. They are often used to store related pieces of information. Consider this example involving (x, y, z) coordinates:

In [127]:
vector = (4, 5, 9)
print("x-coordinate:", vector[0])
print("y-coordinate:", vector[1])
print("z-coordinate:", vector[2])

x-coordinate: 4
y-coordinate: 5
z-coordinate: 9

In [128]:
location = 108.7774, 92.5556
latitude, longtitude = location
print("The coordinates are {} x {}".format(latitude, longtitude))

The coordinates are 108.7774 x 92.5556

### 13.  Dictionaries and Identity Operators:
A dictionary is a mutable data type that stores mappings of unique keys to values. Here's a dictionary that stores elements and their atomic numbers.

In [133]:
elements = {"hydrogen": 1, "helium": 2, "carbon": 6}

In [134]:
print(elements["helium"])  # print the value mapped to "helium"
elements["lithium"] = 3  # insert "lithium" with a value of 3 into the dictionary

2

In [135]:
print("carbon" in elements)
print(elements.get("dilithium"))

True
None